<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--分类-->
<div class="article-category shadow animated fadeInRight"  th:fragment="classify">
    <div class="article-category shadow cl" id="categorylist" >
        <div class="article-category-title">分类导航</div>

        <a  > Node</a>

        <a > 技术交流</a>

        <a  > PHP</a>

        <a > 资源共享</a>

        <a  > 闲言碎语</a>

        <a  > web前端</a>

        <a > JavaScript</a>

        <a > Java</a>

        <a > python</a>
    </div>
</div>
</body>
</html>