body{
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
a{
	color: rgb(68,119,208);
}
.top{
	width: 1160px;
	margin: 0 auto;
	font-size: 20px;
	height:83px;
	line-height: 83px;
}
.body_top{
	background-color: rgb(62,49,93);
	border-bottom: 1px solid #5FB878;
}
.top h2{
	float: left;
	font-size: 25px;
	font-weight: normal;
	margin-top:0px;
	margin-right: 5px;
	margin-bottom: 0px;
}
.top span{
	float: left;
}
.body{
	width: 100%;
	background-color: rgb(62,49,93);
	height: 900px;
	overflow: hidden;
}
.s1{
	width: 1160px;
	height: 100px;
	font-size: 15px;
	line-height: 100px;
	margin: 0 auto;
	overflow: hidden;
}
.s1 span{
	float: right;
}
.s1 a{
	text-decoration: none;
}
.con{
	width: 1160px;
	height: 700px;
	margin: 0 auto ;
	background-color: white;
	overflow: hidden;
	border-radius:10px ;
}
.con_top{
	width: 1100px;
	height: 50px;
	margin: 30px auto 0;
	overflow: hidden;
	line-height: 50px;
	border-bottom: 2px solid darkgray;
}
.con_top span{
	font-size: 20px;
	font-weight: 500;
	padding-left: 20px;
	border-left: 5px solid #5FB878;
}
.tab{
	width: 480px;
	height: 600px;
	margin: 50px auto 0;
	text-align: right;
}
table{
	text-align: center;
}
table label{
	font-size: 15px;
}
tr{
	height: 80px;
}
td:first-of-type{
	text-align: right;
}
td input{
	width: 200px;
	height: 30px;
	text-indent: 5px;
	margin-top: 23px;
}
tr td:nth-of-type(2){
	text-align: left;
}
td:nth-of-type(2) span{
	font-size: 12px;
	color: red;
	margin: 0;
	padding: 0;
}
#btn{
	display: inline-block;
	width: 120px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	border: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background-color: #5FB878;
}
	
.fuwu{
	font-size: 12px;	
	margin-right: 150px;
}
.fuwu a{
	text-decoration: none;
}
#sub{
	width: 200px;
	height: 40px;
	outline-style: none;
	border: none;
	background-color: #5FB878;
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin: 30px 160px 0 0;
	border-radius:4px ;
}
.yes{
	font-size: 12px;
	color: red;
	margin: 0;
	padding: 0;
	visibility: hidden;
}
