<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>注册</title>
		<script src="../../js/jquery-3.3.1.min.js" type="text/javascript"></script>		
		<link rel="stylesheet" type="text/css" href="../../css/login/zhuce.css"/>
	</head>
	<body>
		<div class="body_top">
		<div class="top">
			<span style="color: white;">账号注册</span>
		</div>
		</div>
		<div class="body">
			<div class="s1"><span style="color: white;">已有账号？<a href="" style="color: #5FB878;">立即登录</a></span></div>
			<div class="con">
				<div class="con_top">
					<span>注册</span>
				</div>
				<div class="tab">
					<form action="#" method="get" onsubmit="return rececive()">
						<table border="0" cellspacing="0" cellpadding="0" width="480px" >
							<tr>
								<td width="120px"><label for="user"> 用户名：</label></td>
								<td width="120px" valign="top">
									<input type="text" id="user" name="username" placeholder="请输入6-12位字母与数字"/><br />
									<span id="tip_name" hidden="hidden">用户名错误</span>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><label for="pwd"> 密码：</label></td>
								<td valign="top">
									<input type="password" id="pwd" name="password" placeholder="请输入6-12位密码"/>
									<span id="tip_pwd" hidden="hidden">请输入6-12位密码</span>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><label for="rpwd">再次输入密码：</label></td>
								<td valign="top">
									<input type="password" id="rpwd" placeholder="请重复密码"/><br />
									<span id="tip_rpwd" hidden="hidden">密码不一致</span>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><label for="mail"> 邮箱地址：</label></td>
								<td valign="top">
									<input type="text" id="mail" name="e-mail" placeholder="请输入邮箱地址"/><br />
									<span id="tip_mail" hidden="hidden">邮箱错误</span>
								</td>
								<td></td>
							</tr>
							<tr>
								<td><label for="check"> 邮箱验证码：</label></td>
								<td valign="top">
									<input type="text" id="check" name="check" placeholder="请输入发送的验证码"/><br />
									<span id="tip_check" hidden="hidden">验证码错误</span>
								</td>
								<td><span id="btn">发送验证码</span></td>
							</tr>
							
								
						</table>
						<input type="checkbox" id="che"/><span class="fuwu">
							
						<label for="che" >同意并遵守</label><a href="#">《服务条款》</a><span class="yes">请同意条款
							
						</span></span><br />
						
						<input type="submit" value="立即注册" id="sub"/>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var i = 10;
		var ss;
		$("#btn").on("click",send)
		function send(){			
			$("#btn").off("click")
			ss = setInterval(show,1000)		
		};
		function show(){
			i-=1;
			$("#btn").text(i+"s后重新发送")
			$("#tip_check").removeAttr("hidden")
			$("#tip_check").text("已发送验证码到邮箱")
			if(i<1){
				clearInterval(ss)
				$("#btn").removeAttr("disabled")
				$("#btn").text("发送验证码")
				i = 10
				$("#btn").on("click",send)
			}
		}
		function rececive(){
			var s_user = /^[\w]{6,12}$/
			if(!s_user.test($("#user").val())){
				$("#tip_name").removeAttr("hidden")
				return false;
			}
			var s_mail = /^[\w]+@[\w]+\.[\w]+$/
			if(!s_mail.test($("#mail").val())){
				$("#tip_mail").removeAttr("hidden")
				return false;
			}
			if(!$("#check").val()){
				$("#tip_check").removeAttr("hidden")
				return false;
			}
			if($("#pwd").val().toString().length<6|$("#pwd").val().toString().length>12){
				$("#tip_pwd").removeAttr("hidden")
				return false;
			}
			if($("#rpwd").val()!=$("#pwd").val()){
				$("#tip_rpwd").removeAttr("hidden")
				return false;
			}
			if(!$("#che")[0].checked){
				$(".yes").attr("style","visibility: visible;")
				return false;
			}
			return true;
		}
		$("tr td:nth-of-type(2) input").focus(function(){
			$(this).siblings().attr("hidden","hidden")
		})
		$("#che").click(function(){
			$(".yes").attr("style","visibility: hidden;")
		})
	</script>
</html>
